<app-home></app-home>

<div id="mainChatDiv" class="container-fluid" style="position: fixed; right:0px; bottom:0px">
    <div id="chatsDiv" class="chatBoxScroller">
        <div *ngFor="let c of chatArray">
            <b>{{c.sender}}:</b> {{c.text}}
        </div>
    </div>
    <div>
        <form #chatForm="ngForm" (ngSubmit)="onSendChat(inputChatText, 'me', inputChatText.value)">
            <input name="inputChat" 
            #inputChatText type="text" 
            placeholder="Type in your query..."
            style="width:400px"
            required autofocus ngController="inputChat"
            > <button class="btn" type="submit">SEND</button>

        </form>
    </div>
</div>