.chatBoxScroller{
    overflow-y: auto;
    max-height: 500px;
    max-width: 464px;
}

.chatStyle{
    margin-top: 10px;
    border-radius: 10px;
    padding: 12px;
    font-size: 0.8em;
    font-weight: 400;
    overflow-wrap: break-word;
    /*animation: received-message 0.9s ease-out 0s;*/
}

.me{
    right: 0px;
    margin-left: 90px;
    text-align: right;

    color: rgba(32,40,70,0.9);
    border: 1px solid rgba(32,40,70,0.4);
    background: rgba(255,255,255,0.9);
    animation: ease-out 0s;
}

.bot{
    left: 0px; 
    margin-right: 90px;

    color: rgba(32,40,70,0.9);
    background: rgba(233,234,243,1.0);
    animation: sent-message 0.9s ease-out 0s;
}

.botProcessing{
    left: 10px;
    margin-right: 400px;
}

.me_avatar{
    /*margin-top: 12px;*/
    /*border-radius: 45px;
    background-color: yellow;*/
    /*padding: 7px;*/
    /*display: inline-block;*/
    /*float: right;*/
    /*background-image: "https://image.flaticon.com/icons/svg/145/145843.svg";*/

    width: 35px;
    position: relative;
    bottom: 10px;
    left: 10px;
    float: right;

}

.bot_avatar{
    /*border-radius: 45px;
    background-color: aqua;
    float: left;*/
    
    width: 35px;
    position: relative;
    bottom: 10px;
    right: 10px;
    float: left;

}