<header>
    <app-home></app-home>
</header>

<br><br><br>


<!--===============================================================================================================-->

<div id="wrapper" class={{toggleActive}}>  
    <!-- Sidebar -->
            <!-- Sidebar -->
    <div id="sidebar-wrapper" class="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
           <li (click)="onToggle()">Menu<span id="main_icon" class="glyphicon glyphicon-menu-hamburger"></span></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li class="active"><a href="#services" data-toggle="tab">Services<span class="sub_icon glyphicon glyphicon-list-alt"></span></a></li>
          <li><a href="#chat" data-toggle="tab">Chat<span class="sub_icon glyphicon glyphicon-comment"></span></a></li>
          <li><a href="#help" data-toggle="tab">Help<span class="sub_icon glyphicon glyphicon-question-sign"></span></a></li>
          
          <!--<li><a>Cadastro<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
          <li><a>Consulta<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
          <li><a>Relatorio<span class="sub_icon glyphicon glyphicon-link"></span></a></li>-->
        </ul>
      </div>
          
    <div class="col-xs-11">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="services">
                <app-services-home></app-services-home>
            </div>
            <div class="tab-pane" id="chat">
                Chat with our Bot... Ask me!
                <app-chat></app-chat>
            </div>
            <div class="tab-pane" id="help">FAQs</div>
        </div>
    </div>
    <div class="clearfix"></div>

</div>